* {
  margin: 0;
  padding: 0;
}
/* products and fillings of main page*/

.productImage {
  display: block;
  margin-top: 30px;
  width: 200px;
  height: auto;
}
.fillingImagec {
  display: block;
  margin-top: 30px;
  width: 50px;
  height: auto;
}
.productContainer {
  display: inline-block;
  font-size: 1.7rem;
  color: black;
  margin: 20px;
}
.fillingContainer {
  display: inline-block;
  padding: 10px;
  font-size: 1.7rem;
  color: black;
  margin: 10px;
}
.productContainer b, .fillingContainer b,
.productContainer i, .fillingContainer i {
  display: block;
}
.productContainer button, .fillingContainer button{
  display: inline-block;
  margin: 10px auto;
  color: black;
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}




/*-----------------------------------------*/
.Начинка_«Лесная_ягода»_темный_бисквит_с_прпитко {
  font-size: 18px;
  font-family: "Gabriola";
  color: rgb(95, 45, 20);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 768.338px;
  top: 1272.977px;
  width: 141px;
  height: 101px;
  z-index: 54;
}
._читать_еще___копия_2 {
  background-image: url(" читать еще.. копия 2.png");
  position: absolute;
  left: 134px;
  top: 1052px;
  width: 746px;
  height: 49px;
  z-index: 21;
}
.Кейк_попсы___мини_лакомство_на_палочке__которые {
  font-size: 24px;
  font-family: "Gabriola";
  color: rgb(95, 45, 20);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 767.998px;
  top: 837.303px;
  width: 287px;
  height: 164px;
  z-index: 19;
}
