* {
  margin: 0;
  padding: 0;
}
.logo-and-nav {
  background-image: url(images/header/header-uppart.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}
#mint-logo-header {
  /*!important - add blind under logo!!!*/
  display: inline-block;
  padding-top: 10px;
  padding-left: 140px;
}
.nav {
  padding-right: 140px;
  float: right;
}
.nav-item {
  display: inline-block;
  font-family: Georgia, sans-serif; /*edit nav buttons font*/
  text-transform: uppercase;
  color: rgb(193, 199, 199);
  font-size: 18px;
  padding: 40px 0px 0 10px;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.nav-item:hover {
  background-color: #40aed7;
  border-radius: 10px;
  padding: 10px 5px;
}
.nav-item-list {
  position: relative;
}
.nav-item-list ul {
  margin-top: 10px;
  position: absolute;
  list-style-type: none;
  pointer-events: none;
  opacity: 0; /*прозрачность 0-1 0- не прозрачный*/
  top: 35px;
  left: 0;
  background-color: #40aed7;
  border-radius: 10px;
  padding: 5%;
  transition: opacity 400ms ease-in;
  font-size: 14px;
}
.nav-item-list li {
  width: 100%;
}
.nav-item-list:hover ul {
  opacity: 1
}
.greet {
  background-image: url(images/header/blink-downpart.png), url(images/header/header-downpart.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
}
.greet-text {
  display: inline-block;
  float: left;
  text-align: center;
  padding: 32px 0px 32px 140px;
  width: 315px;
}
.greet-image {
  /*background-image: url(images/header/shadows-under-image-up.png), url(images/header/shadows-under-image-down.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top, bottom;*/
  display: inline-block;
  float: right;
  padding: 32px 140px 32px 25px;
  width: 580px;
}

main {
  background-image: url(images/main/background_HD.png);
  background-repeat: no-repeat;
  background-size: cover;

}
#choco-divider {
  display: block;
  margin-left: auto;
  margin-right: auto 
}
footer {
  background-image: url(images/footer/footer.png);

}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}




/*-----------------------------------------*/
.главная__продукция__цены__акции__контакты {
  font-size: 36px;
  font-family: "Gabriola";
  color: rgb(193, 199, 199);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 544.922px;
  top: 21.079px;
  width: 516px;
  height: 21px;
  z-index: 11;
}

.бла_бла_бла_ляля_я_такая_молодец_2016_ {
  font-size: 24px;
  font-family: "Gabriola";
  color: rgb(239, 199, 164);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 768.749px;
  top: 1428.303px;
  width: 289px;
  height: 21px;
  z-index: 29;
}

.Дорогие_гости___У_нас_Вы_можете_заказать_и_праз {
  font-size: 36px;
  font-family: "Gabriola";
  color: rgb(173, 134, 105);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 139.002px;
  top: 124.954px;
  width: 314px;
  height: 281px;
  z-index: 12;
}
