<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Clouds in the mouth</title>
  <link rel="stylesheet" type="text/css" href="css/style-top-bottom.css">
  <link rel="stylesheet" type="text/css" href="css/style-content.css">
  <link rel="stylesheet" type="text/css" href="css/style-systemEvents.css">
</head>

<body>
  <header class="clearfix">
    <div class="logo-and-nav clearfix">
      <img id="mint-logo-header"src="css/images/header/mint_logo.png" alt="mint_logo" width="97" height="77"/>
      <nav class="nav clearfix">
        <div class="nav-item nav-item-list">Main</div>
        <div class="nav-item nav-item-list">Production          
          <ul>
            <li>Cupcakes</li>
            <li>Cakes</li>
            <li>Cake pops</li>
          </ul>
        </div>
        <div class="nav-item nav-item-list">Fillings          
          <ul>
            <li>For cupcakes</li>
            <li>For cakes</li>
            <li>For cake pops</li>
          </ul>
        </div>
        <div class="nav-item nav-item-list">Prices</div>
        <div class="nav-item nav-item-list">Contacts</div>
      </nav>
      <img src="css/images/header/upper-divider.png" alt="upper-divider">
    </div>
    <div class="greet clearfix"> 
      <div class="greet-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt natus et vero accusantium sed necessitatibus officia doloremque placeat, sequi at maiores ipsa blanditiis aliquam minus aliquid dolorum voluptas provident. Quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis iste, nostrum aliquam, ratione, optio illo est dicta accusantium alias eos, nihil dolorem fugit doloribus. Reprehenderit officia dicta soluta pariatur dolorum?
      </div>
      <div class="greet-image">
        <img src="images/pick_to_header.png"/ alt="greeting-image">
      </div>
    </div>
  </header>
  <main>
    <img src="css/images/main/drops.png" alt="drops-image" width="100%"/>
    <section class="products" id="productSectionSell">
    </section>
    <img id="choco-divider" src="css/images/main/choco-divider.png" alt="choco-divider">
    <section class="fillings" id="fillingSectionSell">
    </section>
  </main>

<footer>
  <div>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>
</footer>
  <script id="productTemplate" type="text/template">
  <img src="<%= imgSrc %>" class="productImage">
  <b><%= productName %></b>
  <i><%= productDescription %></i>
  <button class="js-readMore">Read More</button>
  <button class="js-edit">Edit</button>
  <button class="js-delete" data-name="<%= productName %>">Delete</button>
  </script>
  <script id="fillingTemplate" type="text/template">
  <img src="<%= imgSrc %>" class="fillingImage">
  <b><%= fillingName %></b>
  <i><%= fillingDescription %></i>
  <button class="js-readMore">Read More</button>
  <button class="js-edit">Edit</button>
  <button class="js-delete" data-name="<%= fillingName %>">Delete</button>
  </script>

<script id="productEditTemplate" type="text/template">
    <label>Name
      <input id="productName" value="<%= productName %>" />
    </label>
    <label>Description
      <input id="productDescription" value="<%= productDescription %>" />
    </label>
    <button class="js-submit">Submit</button>
</script>
<script id="fillingEditTemplate" type="text/template">
    <label>Name
      <input id="fillingtName" value="<%= fillingName %>" />
    </label>
    <label>Description
      <input id="fillingDescription" value="<%= fillingDescription %>" />
    </label>
    <button class="js-submit">Submit</button>
</script>

<script id="productDetailsTemplate" type="text/template">
  <div class="well">
  <button class="js-home">HOME</button>YOU BROKE IT!
  </div>
</script>

<script src="js/jQuery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/helpers.js"></script>
<script src="js/view.js"></script>
<script src="js/baseModel.js"></script>
<script src="js/baseCollectionController.js"></script>
<script src="js/productModel.js"></script>
<script src="js/fillingModel.js"></script>
<script src="js/productSectionController.js"></script>
<script src="js/productController.js"></script>
<script src="js/fillingController.js"></script>
<script src="js/productCollection.js"></script>
<script src="js/fillingCollection.js"></script>
<script src="js/productCollectionController.js"></script>
<script src="js/fillingCollectionController.js"></script>
<script src="js/app.js"></script>

  <!-- NEW ORDER OF JS 
<script src="js/helpers.js"></script>
<script src="js/mediator.js"></script>
<script src="js/product-view.js"></script>
<script src="js/observer.js"></script>
<script src="js/product-model.js"></script>
<script src="js/product-details-controller.js"></script>
<script src="js/product-controller.js"></script>
<script src="js/product-collection.js"></script>
<script src="js/product-collection-controller.js"></script>
<script src="js/stateManager.js"></script>
<script src="js/app.js"></script> -->
</body>
</html>